<ion-header>
    <ion-navbar color="primary">
        <button ion-button icon-only menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Agenda</ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <p class="padding-20">Escutamos o principal pedido de vocês do PhoneGap Bootcamp: mais que usar APIs e Plugins, iremos desenvolver aplicações completas com Ionic 2.</p>
    <p class="padding-20">No Ionic Bootcamp iremos fazer <strong>4 apps completos</strong> num dia de curso.</p>
    <ion-grid style="background: #f4f4f4;">
        <ion-row>
            <ion-col width-20>
                <img src="assets/img/bitbar/icon.png" />
            </ion-col>
            <ion-col width-80>
                <p style="margin: 8px 0 0"><strong>Baixe o BitBar</strong></p>
                <p style="margin: 5px 0 8px">Faça o download de um dos aplicativos que iremos criar durante o curso!</p>
                <button ion-button  small (click)="openBitBar()">Google Play</button> <button ion-button small disabled>App Store</button>
            </ion-col>
        </ion-row>
    </ion-grid>
    <p class="padding-20"><strong>Veja a agenda completa a seguir:</strong></p>
    <ion-grid class="agenda-grid">
        <ion-row class="agenda-row" *ngFor="let slot of agenda">
            <ion-col width-20 class="agenda-hour">{{slot.time}}</ion-col>
            <ion-col width-80>
                <strong>{{slot.title}}</strong>
                <p *ngIf="slot.description" class="slot-p-margin">{{slot.description}}</p>
            </ion-col>
        </ion-row>
    </ion-grid>
    <div class="padding-20">
        <button ion-button block style="margin: 15px 0;" (click)="openRegister()">Garanta agora a sua vaga!</button>
    </div>
</ion-content>